.headerComponent {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: var(--primary-color-opacity45);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  display: flex;
  height: 60px;
  justify-content: space-between;
  overflow: hidden ;
  padding: 10px 24px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--header-z-index);
}

.svgIcon {
  width: 40px;
  height: 40px;
}

.headerSections {
  display: flex;
  align-items: center;
}

.bgImg {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .imgWrapper{
    width: 40px;
    height: 40px;
  }
}