.headerComponent {
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  background-color: var(--primary-color);
  color: white;
  box-shadow: rgb(0 0 0 /16%) 0px 1px 4px;
  display: flex;
  justify-content: space-between;
  padding: 10px 24px;
  overflow: hidden ;
  z-index: var(--header-z-index);
}
