.ourClientsSectionWrapper {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    width: 100%;
    padding: 54px 32px;
    gap: 100px;
    position: relative;
}

.hidden {
    opacity: 0;
    transform: translateY(30px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.topIcon, .bottomIcon {
    position: absolute;
    opacity: 40%;
}

.topIcon {
    top: 0;
    right: 0;
}

.bottomIcon {
    bottom: 0;
    left: 0;
}