.desktopView {
    display: block;
    width: 100%;
    margin-bottom: 32px;
}

.mobileView {
    display: none;
}

@media (max-width: 768px) {
    .desktopView {
        display: none;
    }

    .mobileView {
        display: block;
        padding-top: 64px;
        margin-bottom: 32px;
        width: 100%;
    }

}