.desktopView {
    display: block;
    width: 100%;
}

.mobileView {
    display: none;
}

@media (max-width: 768px) {
    .desktopView {
        display: none;
    }

    .mobileView {
        display: block;
        width: 100%;
    }

}