.tabsWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    gap: 64px;
    padding: 32px;
}

.activeTab {
    border-bottom: 1px solid var(--secondary-color);
    width: fit-content;
}

.activeTab button {
    font-weight: 600;
}

.buttonContainer button {
    font-size: 20px;
}

.buttonsWrapper {
    display: flex;
    overflow-x: auto;
    width: 100%;
}

.bgIcon {
    position: absolute;
    height: 100%;
    left: -10%;
    z-index: -1;
}