.footerWrapper {
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    min-height: 600px;
    padding: 32px 32px 80px 32px;
    position: relative;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    width: 100%;
}

.hidden {
    opacity: 0;
    transform: translateY(-30px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.clientMsg {
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: var(--primary-color-opacity30);
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    padding: 24px;
    width: fit-content;
    z-index: 2;
}

.footerContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
}

.footerContent h1 {
    color: var(--white-color);
    font-size: 24px;
    font-weight: 600;
    height: fit-content;
    text-align: center;
    width: fit-content;
}

.socialMedia {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.mediaLink {
    animation: float 2.5s ease-in-out infinite;
    height: 30px;
    width: 30px;
}

.footerImage {
    height: 300px;
    width: 300px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.divider {
    border-top: 3px solid var(--white-color-opacity70);
    width: 100%;
}

.contactUs {
    color: var(--white-color);
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 500;
    gap: 32px;
    height: fit-content;
    justify-content: center;
    margin-bottom: 120px;
    text-align: center;
    z-index: 2;
}

.iconWithContent {
    align-items: center;
    display: flex;
    gap: 18px;
    justify-content: center;
}

.iconWithContent svg {
    animation: shake 1s linear infinite;
    fill: var(--white-color);
    height: 20px;
    stroke-width: 1px;
    width: 20px;
}

.ellipseIcon,
.twoLinesIcon {
    bottom: 0;
    opacity: 70%;
    position: absolute;
}

.ellipseIcon {
    left: 0;
}

.twoLinesIcon {
    right: 0;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-8deg);
    }

    80% {
        transform: rotate(8deg);
    }
}