.ourClientWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    justify-content: center;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    width: 100%;
    z-index: 2;
}

.hidden {
    opacity: 0;
    transform: translateY(-30px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.sectionTitle {
    border-bottom: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    width: fit-content;
}

.brandsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 35px 70px;
    justify-content: center;
    width: 100%;
    padding: 32px;
}

.brandCard {
    align-items: center;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 8px;
    opacity: 90%;
}

.brandImg {
    width: 110px;
    object-fit: contain;
}

@media (max-width: 768px) {

    .brandsContainer {
        padding: 32px 0;
    }
}