@keyframes float {

    0%,
    100% {
        transform: translateY(10);
    }

    50% {
        transform: translateY(-20px);
    }
}

.aboutUsWrapper {
    align-items: center;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    overflow: hidden;
    padding: 0 30px;
    position: relative;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    width: 100%;

    .buttonWrapper {
        padding-right: 30px;
    }
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.bgImage {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
}

.blueBg {
    background-color: var(--primary-color);
    height: 100%;
    position: absolute;
    width: 100%;
    opacity: 50%;
    filter: blur(2px);
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 20px;
    height: 100%;
    justify-content: center;
    padding: 30px 20px;
    width: 100%;
    z-index: 1;

    .title {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .aboutUsTitle {
        color: var(--white-color-opacity70);
        font-size: 32px;
        font-weight: 700;
        text-wrap: nowrap;
    }

    .orangeTitle {
        color: var(--secondary-color);
    }

    .contentWrapper {
        align-items: end;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        width: 100%;
    }

    .arText {
        text-align: right;
    }

    .enText {
        color: var(--white-color-opacity70);
        padding-top: 24px;
        padding: 16px;
        font-size: 24px;
    }

    .textTitle {
        font-weight: 600;
    }
}

.topIcon,
.bottomIcon {
    position: absolute;
    opacity: 50%;
    fill: var(--primary-color);
}

.topIcon {
    top: 0;
    right: 0;
}

.bottomIcon {
    bottom: 0;
    left: 0;
}

@media (max-width: 768px) {
    .aboutUsWrapper {
        flex-wrap: wrap;
        padding: 0 30px;
    }

    .aboutUsImg {
        animation: float 1.7s ease-in-out infinite;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .content {
        flex-direction: column;
        gap: 10;
    }

    .enText {
        padding-top: 0;
        font-size: 20px;
    }
}