.content {
  background-color: var(--primary-color);
  color: white;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.sliderContainer {
  background-color: transparent;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-button-prev, .swiper-button-next {
      color: #fff; /* Change arrow color */
      background-color: rgba(0, 0, 0, 0.5); /* Add background color */
      padding: 10px;
      border-radius: 50%; /* Make buttons round */
    }
  
    .swiper-button-prev {
      left: 10px; /* Position on the left */
    }
  
    .swiper-button-next {
      right: 10px; /* Position on the right */
    }
  
    .swiper-button-prev::after, .swiper-button-next::after {
      font-size: 20px; /* Adjust icon size */
    }
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  /* .swiper-backface-hidden .swiper-slide {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  } */
}
