.aboutUsSectionWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: right;
    position: relative;
    gap: 32px;

    .bgImage {
        width: 500px;
        border-radius: 15px;
        position: absolute;
        left: 150px;
    }

    .aboutUsContent {
        background-color: var(--light-gray);
        padding: 180px 100px 180px 275px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 70%;

        .title {
            font-size: 32px;
            font-weight: 700;
            color: var(--secondary-color);
        }

        .subTitle {
            font-size: 24px;
            font-weight: 600;
        }

        .contant {
            font-size: 18px;
        }

    }

    .aboutUsOrangeBg {
        position: absolute;
        width: 600px;
        height: 400px;
        background-color: var(--secondary-color);
        border-radius: 20px;
        z-index: -1;
        transform: translate(0, -50%);
        top: 50%;
        left: 115px;
    }
}

@media (max-width: 1024px) { 
    .aboutUsSectionWrapper {
        flex-direction: column-reverse;
        gap: 0;
        .aboutUsContent {
            padding: 32px;
            height: 100%;
            width: 100%;
        }

        .bgImage {
            border-radius: 0px;
            position: static;
            width: 100%;
        }
    }
}

