@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rgb(255 255 255);
  --gray-color: rgb(132 133 134);
  --header-z-index:20;
  --light-gray-color: rgb(245 245 245);
  --mercury-color: rgb(232 232 232); 
  --modal-z-index:30;
  --primary-color-opacity20: rgb(10 36 35 / 50%);
  --primary-color: rgb(20 33 42);
  --secondary-color-dark1: rgb(198 57 6);
  --secondary-color-dark2: rgb(148 43 5); 
  --secondary-color-light1: rgb(255 127 62);
  --secondary-color-light2: rgb(255 172 135);
  --secondary-color-opacity20: rgb(247 72 7 / 50%);
  --secondary-color: rgb(247 72 7);
  --white-color-opacity30: rgb(255 255 255 / 30%);
  --white-color: rgb(255 255 255); 
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Border radius of the scrollbar thumb */
  }
}

* {
  font-family: system-ui;
}

.appWrapper {
  height: 100vh;
  margin-top: 60px;
  overflow: auto;
  padding-bottom: 60px;
  width: 100%;

  .videoContainer {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 32px;
    width: 100%;
  }

  .appCardsWrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    height: 100%;
    justify-content: center;
    overflow: auto;
    padding: 24px;
    width: 100%;
  }
  .bgImage {
    position: absolute;
    opacity: 30%;
    width: 100%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
