.appCard {
    align-items: center;
    background-color: var(--primary-color-lighter2-opacity30);
    -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(3px);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 210px;
    padding: 10px;
    transition: transform 0.3s ease;
    overflow: hidden;
    width: 250px;
    text-align: center;
    cursor: pointer;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.cardTitle {
    font-weight: 600;
    font-size: 18px;
    color: var(--white-color-opacity70);
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.cardIcon {
    width: 100%;
    height: 300px;
}

.appCard:hover {
    transform: scale(1.07);
}
